{% extends 'base.html' %}

{% block content %}

<style>
        #welcome-message {
            text-align: center;
            color:red;
            background-color: yellow;
            font-size: 30px;
            padding: 5px;
            font-weight: bold;
            border-radius: 10px;
        }
    </style>
    
    <div id="welcome-message">CHAIRMAN & MANAGING DIRECTOR'S MESSAGE ON ASSUMING CHARGE.</div>

    <img style="width: 60%; margin: 0 auto;"src='https://i.imgur.com/yNZEQrX.jpg' />

{% endblock %}