{% extends 'base.html' %}

{% block content %}

<div style="font-size: 20px; background-color: lightgrey; text-align:center; width: 50%; margin: 0 auto; border: 1px solid black; padding: 10px;">
    <b>Event -</b><br><br>

    The National Housing Development Organisation (N.H.D.O), a development organization focused on Housing for All by 2022 is organizing a Symposium on ‘Housing for All’ with Special Focus on Rehabilitation of People Living in JJ Bastis and Redevelopment of Slum Areas in Delhi as per the following schedule:<br><br>

    Day & Time: THURSDAY, 22ND DECEMBER 2016, 9:00 AM<br><br>

    Venue: ASHOKA HOTEL, NEW DELHI<br><br>
</div>

{% endblock %}