{% extends 'base.html' %}

{% block content %}

<style>
    #welcome-message {
        text-align: center;
        color:red;
        background-color: yellow;
        font-size: 30px;
        padding: 5px;
        font-weight: bold;
        border-radius: 10px;
    }
</style>

<div id="welcome-message"><p>What We Are Working On - </p></div>

<br><br>

<div>
    <p style="border: 1px solid black; font-size: 18px; background-color:lightgreen; padding: 10px;">
        India shall be a super power and become a developed nation from the developing one by 2030 but this picture will come true only if India is able to ensure Adequate Housing for All and World-class Infrastructures. NHDO is playing its part so as to accelerate the whole process and accomplish the dream of a developed India. We at NHDO try and address the Building Construction and Real Estate sector and its problems in totality and not in bits and pieces.
    </p>
</div>

<br><br>

<img style="width:30%; padding: 5%; " src='https://i.imgur.com/SDYhkt2.png' />
<img style="width:30%; padding: 5%; " src='https://i.imgur.com/cofoeN2.png' />
<img style="width:30%; padding: 5%; " src='https://i.imgur.com/59LBdNS.png' />
<img style="width:40%; padding: 5%; "src='https://i.imgur.com/qywFi5R.png' />
<img style="width:40%; padding: 5%; "src='https://i.imgur.com/nvaD4AA.png' />
{% endblock %}