{% extends 'base.html' %}

{% block content %}

<style>
        #welcome-message {
            text-align: center;
            color:red;
            background-color: yellow;
            font-size: 30px;
            padding: 5px;
            font-weight: bold;
            border-radius: 10px;
        }
    </style>
    
    <div id="welcome-message"><p>Tenders</p></div>

    <img style="width:100%"src='https://i.imgur.com/TKXZOdS.jpg' />

<style>
    th {
        padding: 5px;
        font-size: 25px;
    }
    td {
        padding: 5px;
        font-size: 20px;
    }
</style>
<table style="position:relative; top: -100px;border: 1px solid black;">
    <thead style="border-bottom: 1px solid black; border-right: 1px solid black;">
        <th style="border-right: 1px solid black; ">Name</th>
        <th style="border-right: 1px solid black; ">Category</th>
        <th style="border-right: 1px solid black; ">Department</th>
        <th style="border-right: 1px solid black; ">PDF Document</th>
    </thead>
{% for i in ten %}
    <tr style="border: 1px solid black; ">
        <td style="border-right: 1px solid black; ">{{ i.name }}</td>
        <td style="border-right: 1px solid black; ">{{ i.category }}</td>
        <td style="border-right: 1px solid black; ">{{ i.dept }}</td>
        <td style="border-right: 1px solid black; ">
            {% if i.doc %}
                <a href="{{ i.doc.url }}">View</a>
            {% else %}
                -
            {% endif %}
        </td>
        <br/>
    </tr>
{% endfor %}
</table>

<br><br>
{% endblock %}