{% extends 'base.html'%}
{% block content %}

<br>
<div style="border: 1px solid black; background-color: lightblue; padding: 10px; font-size:20px;">
National Housing Development Organisation (NHDO) came into force with a holistic view to give a leg up in such a comprehensive vision of  “Housing for All by 2022” and help the common man by providing dwelling units on “No Profit No Loss” basis.
</div>

<br>

<div style="border: 1px solid black; background-color: lightpink; padding: 10px; font-size:15px;">
        <b>Our Vision</b>
        <br><br>
        Providing quality houses at reasonable cost with a special focus on the E.W.S, L.I.G, backwards, SC/ST and women  on `No Profit-No Loss’ basis purely as a social welfare measure and ensure 'Housing For All'.
        <br><br>
        <b>Our Mission</b>
        <br><br>
        We fulfill the vision of providing housing through :-<br><br>
        - Allotment of land for NHDO through Central/ State Government Bodies and formation of land bank.
        Formulation of self-financing housing schemes at various stations on `No Profit-No Loss’ basis.
        Purchase of land through<br>
                 1.  Allotment from State Land Development Authority<br>
                  2. Turnkey Agency or Private Developer<br>
        - Announcement of schemes, construction of houses meeting aspirations of beneficiaries. Review the progress of projects and take corrective action.<br>
        - Time bound, efficient, prompt and courteous and across the counter services with highest degree of dedication.
        
        <br><br>
        
        <b>Our Beneficiaries</b>
        <br><br>
        General Public , Central Government Employees and Employees in Central PSU’s, State Govt’s, U.T. Administration, Autonomous Bodies, Corporations, Nationalised Banks, Serving Uniformed employees of the Ministry of Defence and serving employees of Ministry of Railways including retired spouses of deceased employees .
        <br><br>
        
        <b>Our Services</b>
        <br><br>
        - Entire work from procurement of land to construction of house/ flat and its efficient delivery to customers/ beneficiaries in minimum possible time.<br>
        - Registration of applicants for houses in consonance with `object’ clause in Memorandum of Association.
        - Procurement of land through various sources.<br>
        - Planning of Housing Schemes and conducting of Demand Surveys.<br>
        - Announcement, implementation, monitoring and progresses of Housing Complexes.<br>
        - Allotment of houses/ flats and handing over to beneficiaries.<br>
        - Handing over of common services in Housing Schemes.<br>
        - Formation of Apartment Owners Association to look after general upkeep and maintenance of complex.<br>
        - Facilitating registration of Title Deed in favour of beneficiaries/ co-owners.
        
         
        <br><br>
        <b>Specification Regarding Timing of Services & Information Facilitation Centre (IFC)</b>
        <br><br>
        This organisation commits itself to the following time-framed services :-<br>
        - Timely replies to all the correspondence. Also, in case of any delay, an intimation regarding the reasons for such delay and when the reply can be expected.<br>
        - By printing a separate section e.g. `Part A’ of each Scheme brochure for every housing scheme announced by the organisation and providing all specific details about that particular housing scheme, including local requirements and specific details including location plan, configuration, areas etc.<br>
        - By keeping the beneficiaries and public informed on various decisions of their interests e.g. eligibility standards and other changes etc. through official websites and if required, by newspapers and news-letters.<br>
        - Display of names of Officers with their designation, telephone no., location in their respective Directorate who are dealing with the public.<br>
        - By updating official website and making available printed information for time bound display of various transactions at Reception (IFC).<br>
        - By making available general formats and requisition slips for depositing and withdrawal transactions, change of address etc. at IFC.<br>
</div>

{% endblock %}